* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 23px;
}

#inbody {
    background-image: url("/assets/images/bgi.jpg");
    background-size: cover;
}

/* index.html */

/* Header */

header {
    background-color: black;
}

.logo {
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.navigation {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

.navigation a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
}

.navigation a:hover {
    background-color: teal;
    color: black;
}

/* div */
.side {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 100px;
    width: 50%;
    float: left;
}

.side h3 {
    margin-bottom: 15px;
}

.side li {
    padding: 2px;
    list-style-type: square;
}

/* Login */
.my_login {
    border: 1px solid red;
    float: right;
    margin-top: 60px;
    background-color: beige;
    height: 240px;
    padding: 30px;
    margin-right: 20px;
}

.my_login h2 {
    text-align: center;
    margin-bottom: 20px;
    
}
.my_login p{
    font-size: 13px;
}

#logg {
    background-color: dodgerblue;
    width: 100%;
    border: none;
    color: white;
    padding: 3px;
    
}

/* Courses */
.container {
    margin-top: 450px;
    margin-left: 60px;
}

.p-box {
    border: 3px solid white;
    float: left;
    width: 330px;
    margin-left: 5px;
    padding: 5px;
    background-color: gainsboro;
    height:250px;
}

.p-box h4 {
    text-align: center;
    margin-bottom: 15px;
}

.p-box p {
    text-align: justify;
}

.p-box a {
    color: red;
    text-decoration: none;
}

/* Footer */
footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    height: 1.5em;
    margin-top: 58%;
    text-align: center;
}

/* contact page */

#allbody {
    background-image: url("/assets/images/bgimage.jpg");
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*  Contact Form */
.contact_us {
    margin-top:150px;
    margin-inline: 550px;
    border-radius: 5px;
    background-color: beige;
    height: 300px;
    padding: 30px;
}

.contact_us button{
    padding: 2px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    width:100%;
    padding: 8px;
    margin-top: 40px;
    font-size: 15px;
}
.contact_us input{
    padding: 2px;
    border: none;
    background-color:white;
    border-radius: 3px;
    width:363px;
    padding: 7px;
    margin-top: 10px;

}
.contact_us h2{
    margin-bottom: 40px;
    text-align: center;
}

/* -----about page------ */

.a-box{
    border: 3px solid white;
    text-align: center;
    width: 330px;
    padding: 26px;
    background-color: gainsboro;
    height:max-content;
    margin-top: 50px;
    margin-left: 50%;
    border-radius: 5px;
}
.a-box h2{
    margin-bottom: 50px;
    font-size: 25px;
    color: rgb(41, 199, 217);
}

.b-box {
    margin-left: 250px;
    margin-top: 90px;
}

.b-box p{
    margin-top: 20px;
    
}

.c-box{
 margin-top: 80px;
}

/* image */

.c-box img{
    height: 250px;
    width: 250px;
    margin-left:610px;
    
}
.c-box h2{
    text-align:center;
}
.cc-box{
    height:180px;
    width: 500px;
    text-align: center;
    margin-left:500px;
}
.d-box img{
    height: 150px;
    width: 150px;
}
.d-box{
    text-align: center;
    width: 100%;
}
.d-logo{
    margin-top: 50px;

}
.logo-item{
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    margin:30px;

}
.e-box{
    margin-top: 50px;
    text-align: center;

}

.text-box,
.img-box {
    display: inline-block;
    vertical-align: middle;
}

.text-box {
    width: 65%;
    text-align: left;
}
.img-box {
    
    text-align: center;
}
.e-box img{
    height: 250px;
    width: 250px;
}